form {
	background: #fff;
	margin: 5px auto;
	padding: 10px;
	box-shadow: 1px 1px 7px rgb(51,51,51) ;
}


.form-group  {

	margin-bottom: 6px;
}


.form-group input {
	border: 1px solid #ccc;
}
 .form-group input:focus {
 	border: 1px solid #2A7FFF;
 }

 .button-group {

 	margin-right: 5px;

 	display: flex;
 	flex-wrap: wrap;
 	flex-direction: row;

 	justify-content: flex-start;
 }
